<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}" />
  <link href="{{ asset('./plugins/ion-font/css/ionicons.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('css/plugins.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ asset('image/artelanaslogo.ico') }}">
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
</head>
{% set current_path = app.request.get('_route') %}
<body class="belly-light-version belly-color-chocolate body-element">
  {% block body %}{% endblock %}

  <script></script>
  <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/ajax-mail.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  <script>
    function verCarritoId() {
      alert('El ID del carrito es: ' + "{{app.session.get('cartId')}}");
    }
    function eliminarCarritoId() {
      $.ajax({
        type: "GET",
        url: "{{path('removeCartSession')}}",
        dataType: 'json',
        success: function (response, data, textStatus, xhr) {
        }
      });
    }
  </script>
  
  {% block javascripts %}{% endblock %}

</body>

</html>