<footer class="site-footer">
    <div class="container">
        <div class="footer-inner">
            <div class="row">
                <div class="col-lg-4 col-md-8 mb-30 mb-lg-0">
                    <div class="single-footer">
                        <h3 class="footer-title">Contacto</h3>
                        <div class="address_wrapper">
                            <div class="address">
                              <div class="icon">
                                <i class="fas fa-map-marker-alt" style="color:white"></i>
                              </div>
                              <div class="contact-info-text">
                                <p class="text-white"></span> Inés de Córdova 257 Imperial,
                                <br>
                                 Región de La Araucanía</p>
                              </div>
                            </div>
            
                            <div class="address">
                              <div class="icon">
                                <i class="far fa-envelope" style="color:white"></i>
                              </div>
                              <div class="contact-info-text">
                                <p class="text-white"><a href="mailto:contacto@artelanasimperial.com ">contacto@artelanasimperial.com </a></p>
                              </div>
                            </div>
            
                            <div class="address">
                              <div class="icon">
                                <i class="fas fa-mobile-alt" style="color:white"></i>
                              </div>
                              <div class="contact-info-text">
                                <p class="text-white"><a href="tel:+56961236357">+56 961236357 </a> </p>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-6 mb-30 mb-lg-0">
                    <div class="single-footer">
                        <h3 class="footer-title">Redes Sociales</h3>
                        <div class="social-links links-rounded-bg">
                            <a href="https://www.facebook.com/artelanasimperial" target="_blank" class="single-social"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/artelanas_imperial/" target="_blank" class="single-social"><i class="fab fa-instagram"></i></a>
                            <a href="https://api.whatsapp.com/send?phone=56961236357" target="_blank" class="single-social"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-8 mb-30 mb-lg-0">
                    <div class="single-footer">
                        <img src="{{ asset('image/others/logoSercotecSinFondo.png') }}">

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>