<header class="site-header initial-static header-1">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg-3 col-md-3 offset-md-1 offset-lg-0 col-6 order-md-2">
                <!-- Header Logo -->
                <div class="site-brand text-lg-center">
                    <a href="{{ path('home')}}" class="brand_logo ">
                        <img class="img-responsive-artelanas" src="{{ asset('image/logoSinFondo.png') }}" alt="logo-artelanas">
                    </a>
                </div>
            </div>

            <div class="col-xl-5 col-lg-5 col-md-4 col-12 order-md-1 order-3 mobile-menu">

                <!-- Main Menu Start -->
                <div class="mean-wrapper">
                    <nav class="mean-active">
                        <ul class="main-menu">
                            <li class="menu-item has-dropdown"><a href="{{ path('home')}}"
                                    class="menu-link"><span>Home</span></a>
                            </li>
                            <li class="menu-item has-dropdown"><a href="{{ path('nosotros')}}"
                                    class="menu-link"><span>Nosotros</span></a>
                            </li>
                            <li class="menu-item has-dropdown"><a href="{{ path('productos')}}"
                                    class="menu-link"><span>Productos</span></a>
                            </li>
                            <li class="menu-item has-dropdown"><a href="{{ path('tienda')}}"
                                    class="link menu-link"><span>Tienda</span></a>
                            </li>
                            <li class="menu-item has-dropdown"><a href="{{ path('contacto')}}"
                                    class="link menu-link"><span>Contacto</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-xl-5 col-lg-4 col-md-4 col-6 order-md-3 order-2">

                <!-- Header Right Sidebar -->
                <div class="header-right-options">
                    <div class="btn-group">
                        <button type="button" class="btn" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                            <div>
                                <img src="{{asset('image/flags/ES.png')}}" alt="Idioma ES." style="margin-bottom: 15%; min-width: 30px;">
                            </div>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                          <a href=""><button class="dropdown-item" type="button"><img src="https://d21jpge5pu54j7.cloudfront.net/flags/es.png" class="dm-o-nav-flag" width="20"
                            height="20" alt="Cambiar a español."> Español</button></a>
                          <a href=""><button class="dropdown-item" type="button"><img src="https://d21jpge5pu54j7.cloudfront.net/flags/en.png" class="dm-o-nav-flag" width="20"
                            height="20" alt="Cambiar a inglés."> English</button></a>
                        </div>
                    </div>
                    <div class="single-option">
                        <button class="cart-btn single-option_icon slide-down--btn"><i class="icon ion-md-cart"></i></button>
                        <div class="slide-down--item">
                            <div class="option-box cart-box">
                                <div class="cart-buttons">
                                    <a href="{{ path('carrito')}}" class="theme-btn-outlined">Carrito</a>
                                    <a href="{{ path('home')}}" class="theme-btn-outlined">Resumen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>