{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Blogs{% endblock %}


{% block body %}
<div class="site-wrapper">
    {% include 'AppBundle:base:headerStatic.html.twig' %}
<div class="belly-bredcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{{ path('home')}}">Home</a></li>
            <li><a href="">Wine List</a></li>
        </ul>
    </div>
</div>
<!-- Blog Section Start -->
<div class="blog-section section-padding pt-0 space-db--80">
    <div class="container">
        <div class="row">
            {% for i in 0..11 %}
            <div class="col-md-4 mb-30">
                <div class="single-blog">
                    <div class="belly-mini-blog">
                        <a href="{{path('blog',{'id':i})}}" class="blog-image">
                            <img src="{{ asset('image/mini-item-images/mini-blog-1.png')}}" alt="">
                            <div class="blog-badge">
                                <span>13</span>
                                Aug
                            </div>
                        </a>
                        <div class="blog-content">
                           <h4 class="blog-title"><a href="{{path('blog',{'id':i})}}">in vulputate velit </a></h4>
                            
                            <span class="blog-subtitle">Belly</span>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                            <div class="blog-btn">
                               <a href="{{path('blog',{'id':i})}}" class="theme-btn-outlined">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>

</div><!-- Blog Section End -->
  
  <!-- Site Bottom Starts -->
  <div class="site-bottom">

  <!-- Footer Starts -->
    {% include 'AppBundle:base:footer.html.twig' %}
    <!-- Footer Ends -->
    </div>
    <!-- Site Footer Ends -->
  </div>
  <!-- Site Wrapper Ends -->
{% endblock %}

