{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Blog{% endblock %}


{% block body %}
<div class="site-wrapper">
    {% include 'AppBundle:base:headerStatic.html.twig' %}

    <div class="belly-bredcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{path('home')}}">Home</a></li>
                <li><a href="#">Wine List</a></li>
            </ul>
        </div>
    </div>
    <!-- Blog Section Start -->
    <div class="blog-section section-padding pt-0">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12">

                    <div class="single-blog-item">
                        <div class="image">
                            <img src="{{ asset('image/others/promo-product-big.jpg') }}" alt="">
                        </div>
                        <div class="content">
                            <h3 class="blog-title"><a href="blog-details-light.html">te velit esse molestie </a></h3>
                            <ul class="blog-meta">
                                <li>By - <a href="#">Adam</a></li>
                                <li>8 August, 2018</li>
                            </ul>
                            <div class="desc">
                                <p>Some of our customer say’s that they trust us and buy our product without any
                                    gitation
                                    because they can Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut
                                    fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                                    nesciunt.
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci
                                    velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                    aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                    magni
                                    dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                    dolorem </p>
                                <p>Some of our customer say’s that they trust us and buy our product without any
                                    gitation
                                    because they can Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut
                                    fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                                    nesciunt.
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                                <blockquote class="blockquote">
                                    <p>We are the of our customer say’s that they trust us and buy our product without
                                        any
                                        gitation because they can Nemo enim ipsam voluptatem quia voluptas sit
                                        aspernatur
                                        aut odit aut fugit, sed quia quuntur magni dolores eos qui ratione voluptatem
                                        sequi
                                        nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                                        consectetur</p>
                                </blockquote>
                                <p>Some of our customer say’s that they trust us and buy our product without any
                                    gitation
                                    because they can Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                                    aut
                                    fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                                    nesciunt.
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
                            </div>
                            <div class="blog-footer">
                                <div class="tags"><span>Tags:</span> <a href="#">Oil</a><a href="#">Beard Oil</a><a
                                        href="#">Beard</a></div>
                                <div class="share"><span>Share:</span> <a href="#">facebook</a><a href="#">Twitter</a><a
                                        href="#">Linkedin</a><a href="#">Google+</a></div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 pl-lg--40 mt--50 mt-lg-0">
                    <div class="sidebar-widgets">
                        <div class="single-widget">
                            <h3 class="sidebar-title">Recent Post</h3>
                            <div class="sidebar-post">
                                <div class="single-post">
                                    <a href="#" class="post-image">
                                        <img src="{{ asset('image/products/single-product/single-product-1.jpg') }}" alt="">
                                    </a>
                                    <div class="post-desc">
                                        <h6><a href="#">New Olive wine</a></h6>
                                        <p> Some of our customer say’s that they trus</p>
                                    </div>
                                </div>
                                <div class="single-post">
                                    <a href="#" class="post-image">
                                        <img src="{{ asset('image/products/single-product/single-product-2.jpg') }}" alt="">
                                    </a>
                                    <div class="post-desc">
                                        <h6><a href="#">New apple wine</a></h6>
                                        <p> Some of our customer say’s that they trus</p>
                                    </div>
                                </div>
                                <div class="single-post">
                                    <a href="#" class="post-image">
                                        <img src="{{ asset('image/products/single-product/single-product-3.jpg') }}" alt="">
                                    </a>
                                    <div class="post-desc">
                                        <h6><a href="#">New banana wine</a></h6>
                                        <p> Some of our customer say’s that they trus</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- Blog Section End -->

    <!-- Site Bottom Starts -->
    <div class="site-bottom">

        <!-- Footer Starts -->
        {% include 'AppBundle:base:footer.html.twig' %}
        <!-- Footer Ends -->
    </div>
    <!-- Site Footer Ends -->
</div>
<!-- Site Wrapper Ends -->

{% endblock %}