    {% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Carrito{% endblock %}


{% block body %}
<div class="site-wrapper">
    {% include 'AppBundle:base:headerStatic.html.twig' %}
  <div class="site-wrapper">
    
<div class="belly-bredcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{{path('home')}}">Home</a></li>
            <li><a href="{{path('carrito')}}">Carrito</a></li>
        </ul>
    </div>
</div>


        <!-- Cart Page Start -->
        <div class="cart_area cart-area-padding">
            <div class="container">
              {% if app.session.get('cartId') is null %}
              <br><br><hr><br>
              <h2 class="text-center">El carro se encuentra vacío</h2>
              <br><br><hr><br>
              {% else %}
                <div class="row">
                    <div class="col-12">
                          <!-- Cart Table -->
                          <div class="cart-table table-responsive mb--40">
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <th class="pro-thumbnail">Imagen</th>
                                          <th class="pro-title">Producto</th>
                                          <th class="pro-price">Precio</th>
                                          <th class="pro-quantity">Cantidad</th>
                                          <th class="pro-subtotal">Total</th>
                                          <th class="pro-remove">Eliminar</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for product in cart.products_sales %}
                                      <tr>
                                          <td class="pro-thumbnail"><a href="#"><img src="{{ asset(product.product_image) }}" alt="Product"></a></td>
                                          {% if (product.variant_name is empty) or (product.variant_name is null) %}
                                            <td class="pro-title"><a href="#">{{product.product_name}}</a></td>
                                          {% else %}
                                            <td class="pro-title"><a href="#">{{product.product_name}} ({{product.variant_name}})</a></td>
                                          {% endif %}
                                          <td class="pro-price"><span>$ {{product.product_price |number_format(0,',', '.') }}</span></td>
                                          <td class="pro-price">
                                            <span class="pb--15">
                                              <div class="product-buttons--group">
                                                <div class="single-btn-block count-input-block">
                                                  <input type="number" class="form-control text-center" value="{{ product.quantity }}" id="product_quantity_{{product.variant_id}}" 
                                                  oninput="this.value = Math.round(this.value);" style="max-width: 133px;" data-stock="{{ product.product_stock }}" data-variant="{{product.variant_id}}">

                                                  <div class="count-input-btns" id="btn-actualizar-stock-{{product.variant_id}}">
                                                    <a class="btn btn-outline-secondary col-md-12" style="color: #000000; border-color: #000000; border-width: 2px; height: 100%; background-color: #B3936D; border-radius: 50px" 
                                                    id="btn-actualizar-{{product.variant_id}}" onclick="actualizarStock( {{ product.variant_id }}, {{ product.product_id }}, {{ product.product_stock }}, {{ cart.cart_id }}, {{ product.discounted_price }})" data-toggle="tooltip" data-placement="top" title="Actualizar">
                                                    <i class="fas fa-sync-alt" style="padding-top: 6px;"></i></a>
                                                  </div>
                                                </div>
                                              </div>
                                            </span>
                                          </td>
                                          <td class="pro-subtotal">
                                              <div class=" d-flex justify-content-center">
                                                
                                                  {% if product.discounted_price is null %} 
                                                  <span id="original-price-{{ product.variant_id }}" style="float:left">
                                                    $ {{product.original_price|number_format(0,',', '.') }} 
                                                  </span>
                                                  {% else %} 
                                                  <span id="original-price-{{ product.variant_id }}" style="float:left;">
                                                    $<del> {{product.original_price|number_format(0,',', '.') }}</del>
                                                  </span>
                                                  {% endif %}
                                                
                                                <span id="price-after-discount-{{ product.variant_id }}" style="float:left;color:orange">
                                                  {% if product.discounted_price is not null %}
                                                    &nbsp;&nbsp;{{ product.sale_total_price|number_format(0,',', '.') }}
                                                  {% endif %}
                                                </span>
                                              </div>
                                            </td>
                                          <td class="pro-remove"><a href="{{path('deleteFromCart',{'saleId': product.sale_id})}}"><i class="far fa-trash-alt"></i></a></td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                            
                        <div class="row">

                            
                            <!-- Cart Summary -->
                            <div class="col-lg-6 col-12 mb--15">
                            
                              <!-- Discount Coupon -->
                              <div class="discount-coupon">
                                <h4><span style="text-transform: none; font-family: rubik;">Cupón de Descuento</h4>
                                <form action="#">
                                  <div class="row">
                                    <div class="col-md-6 col-12 mb--25">
                                      <input type="text" minlength="0" maxlength="8"  id="codigoCupon"  placeholder="Ingresa tu Cupón"
                                      style="color:black">
                                    </div>
                                    <div class="col-md-6 col-12 mb--25">
                                      <input class="btn" value="Validar" id="btnValidar" style="font-weight: 700;
                                      text-transform: uppercase;
                                      color: #fff;
                                      background-color: #B3936D;
                                      border-color: #B3936D;
                                      width: 140px;
                                      line-height: 27px;
                                      cursor: pointer;" onclick="validarCupon()">
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-12">
                                      <small class="text-white"></small>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="col-lg-6 col-12 mb--40 d-flex">
                                <div class="cart-summary">
                                    <div class="cart-summary-wrap">
                                        <h4>Resumen Carrito</h4>
                                        <p>Sub Total <span id="subtotalCart">$ {{cart.subtotal | number_format(0,',', '.') }}</span></p>
                                        {% if cart.total_discount!=0 %}
                                          <p>Total Descuento:  <span id="summary-discount" style="color: green;">- $ {{cart.total_discount | number_format }}</span></p>
                                        {% endif %}
                                        <h2>Total <span id="totalCart">$ {{cart.total_price|number_format(0,',', '.') }}</span></h2>
                                    </div>
                                    <div class="cart-summary-button">
                                        <a href="{{path('resumen')}}"><input type="button" class="btn theme-btn " id="check-out" value="Ir a Pagar" style="border-radius: 50px; min-width: 145px;"></a>
                                        {#<button class="update-btn">Update Cart</button>#}
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Cart Page End --> 

          
  <!-- Site Bottom Starts -->
  <div class="site-bottom">
  <!-- Footer Starts -->
  {% include 'AppBundle:base:footer.html.twig' %}
    <!-- Footer Ends -->
    </div>
    <!-- Site Footer Ends -->
  </div>
  <!-- Site Wrapper Ends -->

{% endblock %}
{% block javascripts %}
  {% if app.session.get('cartId') is not null %}
    <script>
      {% if cart.total_discount != 0 %}
        $("#descuento").html('50%')
      {% endif %}
      var precioPagar = '{{cart.total_price}}';
      function validarCupon(){
      
        if("{{app.session.get('cartId')}}" != '' && $('#codigoCupon').val()!= ''){
          parametros = {'cartId': "{{app.session.get('cartId')}}", 'code': $('#codigoCupon').val()}
          url = Routing.generate('validarCupon', parametros);
          $.ajax({
            type: "GET",
            url: url,
            dataType: 'json',
            success: function(response,data, textStatus, xhr) {
              if(response.codigoValido==1){
                location.reload();
              }else {
                alert('Código inválido');
              }
            
            },
            error: function(response,data,textStatus,xhr){
              
            }
          });
        }
      }

      function actualizarStock(idVariante, idProducto, stockProducto, idCart, discountedPrice){
        
        var quantity = $('#product_quantity_'+idVariante).val();

        if(quantity == 0){
          $('#btn-actualizar-'+idvariante)
          return;
        }

        var parametros = {
          "variantId": idVariante,
          "productId" : idProducto,
          "cartId" : idCart,
          "quantity_products" : quantity,
          "discountedPrice" : discountedPrice

        };

        $.ajax({
          type: 'GET',
          url: "{{ path('changeQuantityShoppingCart') }}",
          data: parametros,
          dataType: "json",
          beforeSend: function(){
            $("#check-out").attr("disabled","disabled"); 
            $("#check-out").attr("value", 'Cargando...');
            $("#btnValidar").attr("disabled","disabled"); 
            $("#btnValidar").attr("value", 'Cargando...');
          },
          success: function(response){
            response = JSON.parse(response)[0];

            var formatter = new Intl.NumberFormat('es-CL', {
              style: 'currency',
              currency: 'CLP',

              // These options are needed to round to whole numbers if that's what you want.
              minimumFractionDigits: 0,
              maximumFractionDigits: 0,
            });

            const found = response.products_sales.find(element => element.variant_id == idVariante);

            document.getElementById("original-price-"+(found.variant_id)).innerHTML = formatter.format(found.original_price).replace(/^(\D+)/, '$1 ');
            document.getElementById("subtotalCart").innerHTML = formatter.format(response.subtotal).replace(/^(\D+)/, '$1 ');
            document.getElementById("totalCart").innerHTML = formatter.format(response.total_price).replace(/^(\D+)/, '$1 ');

            if(response.total_discount != 0){
              document.getElementById("original-price-"+(found.variant_id)).innerHTML = "<del>"+formatter.format(found.original_price).replace(/^(\D+)/, '$1 ')+"</del>";
              document.getElementById("summary-discount").innerHTML = "- "+formatter.format(response.total_discount).replace(/^(\D+)/, '$1 ');
              document.getElementById("price-after-discount-"+(found.variant_id)).innerHTML = "&nbsp;&nbsp;"+formatter.format(found.sale_total_price).replace(/^(\D+)/, '');
            }

            $("#check-out").removeAttr('disabled');
            $("#check-out").attr("value", 'Ir a Pagar');
            $("#btnValidar").removeAttr('disabled');
            $("#btnValidar").attr("value", 'Validar');
          },
            error: function(response){console.log(response)}
        });
      }

      $('input').on('keydown keyup change', function(e){

        if( "#codigoCupon" == "#"+e.target.id || "#btnValidar" == "#"+e.target.id ){
          return;
        }
        
        var stock = $('#'+e.target.id).data('stock');
        var variant = $('#'+e.target.id).data('variant');

        if ($(this).val() > parseInt(stock)
          && e.keyCode !== 46 // keycode for delete
          && e.keyCode !== 8 // keycode for backspace
        ) {
          e.preventDefault();
          $(this).val(stock);
        }

        if(e.keyCode == 38 || e.keyCode == 40){
          e.preventDefault();
        }

        if($(this).val() == 0){
          $('#btn-actualizar-'+variant).addClass('disabled');
        } else {
          $('#btn-actualizar-'+variant).removeClass('disabled');
        }
      });
    </script>
  {% endif %}
{% endblock %}