{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Contacto{% endblock %}
{# agregar clase a body elevet-enable #}
{% block body %}
<div class="site-wrapper">
  {% include 'AppBundle:base:headerStatic.html.twig' %}

  <div class="belly-bredcrumb-section">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
  </div>


  <!-- Start Contact Area -->
  <div class="contact_area pt--40">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12 pb--40">
              <div class="address_wrapper">
                <div class="address">
                  <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="contact-info-text">
                    <p>Inés de Córdova 257 Imperial, Región de La Araucanía</p>
                  </div>
                </div>

                <div class="address">
                  <div class="icon">
                    <i class="far fa-envelope"></i>
                  </div>
                  <div class="contact-info-text">
                    <p><a href="mailto:contacto@artelanasimperial.com ">contacto@artelanasimperial.com </a></p>
                  </div>
                </div>

                <div class="address">
                  <div class="icon">
                    <i class="fas fa-mobile-alt"></i>
                  </div>
                  <div class="contact-info-text">
                    <p><a href="tel:+56961236357">+56 961236357 </a> </p>
                  </div>
                </div>
              </div>
              <div class="social-links links-rounded-bg">
                <a href="https://www.facebook.com/artelanasimperial" class="single-social" target="_blank"><i
                    class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/artelanas_imperial/" class="single-social" target="_blank"><i
                    class="fab fa-instagram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=56961236357" class="single-social" target="_blank"><i
                    class="fab fa-whatsapp"></i></a>
              </div>
            </div>
            <div class="col-lg-12 col-xs-12 pb--50">
              <div class="googleMapResponsive">
                <iframe class="iframe-responsive-map"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4400.793155506098!2d-72.95086582185567!3d-38.74464746685508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9615335268042649%3A0xab4bcdb2b37897f5!2sArtelanas%20Imperial!5e0!3m2!1ses-419!2scl!4v1609961108874!5m2!1ses-419!2scl"
                  width="550" height="450" frameborder="1" style="border:0;" allowfullscreen="true" aria-hidden="false"
                  tabindex="0">
                </iframe>
             </div>
            </div>
          </div>
        </div>





        <div class="col-lg-6">
          <div class="contact_form">
            <h3 class="ct_title">Envíanos un mensaje</h3>
            <form id="contact-form" action="{{ asset('plugins/php/mail.php') }}" method="POST" class="form-box-1">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Nombre <span class="required">*</span></label>
                    <input type="text" name="customerName" id="customername" class="form-control text-black" required>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Apellido <span class="required">*</span></label>
                    <input type="text" name="customerLastName" id="customerLastName" class="form-control text-black" required>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Teléfono <span class="required">*</span></label>
                    <input type="text" name="customerPhone" id="customerPhone" class="form-control text-black" required>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Correo <span class="required">*</span></label>
                    <input type="email" name="customerEmail" id="customerEmail" class="form-control text-black"
                      required>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Mensaje</label>
                    <textarea type="text" name="contactMessage" id="contactMessage"
                      class="form-control text-black"></textarea>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-btn">
                    <button type="submit" class="theme-btn-outlined" value="submit" id="submit"
                      name="submit">Enviar</button>
                  </div>
                </div>
              </div>
            </form>
            <div class="form-output">
              <p class="form-message"></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Contact Area -->



  <div class="site-bottom">
    <!-- Footer Starts -->
    {% include 'AppBundle:base:footer.html.twig' %}
    <!-- Footer Ends -->
  </div>
</div>

{% endblock %}

