{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Tienda Web{% endblock %}

{% block stylesheets %}
    <style>
        .color-text{
            color: white!important;
        }
    </style>
{% endblock %}

{% block body %}
<div class="site-wrapper belly-homepage-white">
    {% include 'AppBundle:base:header.html.twig' %}
    <div class="hero-area">
        <div class="banner-content-wrapper hero-slider-wrapper">
            <div class="banner-content single-slide bg-image text-black" 
                data-bgimage="{{ asset('image/others/home3.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">

                            <h1 class="title--lg title-lg-arvo--bold color-text" data-animation="fadeInLeft" data-duration="1.5s"
                                data-delay=".8s">ARTELANAS IMPERIAL
                            </h1>
                            <h3 class="title--sm title-sm-shadowlight color-text" data-animation="fadeInDown" data-duration="1.5s"
                                data-delay=".8s">Tienda de Artesanías
                            </h3>
                            <h4 data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s" class="color-text">Tenemos diversidad de productos para tu elección.<br> Hechos con amor por nuestro oficio.
                            </h4>
                            <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                                <a href="{{ path('tienda')}}" class="theme-btn">¡Visita Nuestra Tienda Web!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-content single-slide bg-image text-black"
                data-bgimage="{{ asset('image/others/4.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">

                            <h1 class="title--lg title-lg-arvo--bold color-text" data-animation="fadeInLeft" data-duration="1.5s"
                                data-delay=".8s">ARTELANAS IMPERIAL
                            </h1>
                            <h3 class="title--sm title-sm-shadowlight color-text" data-animation="fadeInDown" data-duration="1.5s"
                                data-delay=".8s">Tienda de Artesanías
                            </h3>
                            <h4 data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s" class="color-text">Encuentra la mejor artesanía  de la zona<br> y vive una experiencia única.
                            </h4>
                            <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                                <a href="{{ path('tienda')}}" class="theme-btn">¡Visita Nuestra Tienda Web!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-content single-slide bg-image text-black"
                data-bgimage="{{ asset('image/others/home1.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10">
                            <h1 class="title--lg title-lg-arvo--bold color-text" data-animation="fadeInLeft" data-duration="1.5s"
                                data-delay=".8s">ARTELANAS IMPERIAL
                            </h1>
                            <h3 class="title--sm title-sm-shadowlight color-text" data-animation="fadeInDown" data-duration="1.5s"
                                data-delay=".8s">Tienda de Artesanías
                            </h3>
                            <h4 data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s" class="color-text">Encuentra la mejor artesanía  de la zona<br> y vive una experiencia única.
                            </h4>
                            <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                                <a href="{{ path('tienda')}}" class="theme-btn">¡Visita Nuestra Tienda Web!
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="home-4__welcome-section section-padding pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="welcome__description text-center">
                        <h3 class="welcome__title--sm">Bienvenido a Nuestra Tienda Web</h3>
                        <h2 class="welcome__title--mid text-black">Artelanas Imperial</h2>
                        <p>Nos dedicamos a elaborar y comercializar productos 100% lana de oveja tejidos en el telar mapuche
                            tradicional (witral) en diferentes técnicas de urdido, donde incorporamos la iconografía propia
                            de nuestra cultura y utilizamos materias primas de la zona.<br>
                            <br>Responsabilidad en los envíos, hacemos pedidos especiales para satisfacer tus necesidades.
                        </p>
                        <div class="row">
                            <div class="col-12">
                                <img src="{{asset('image/fotos/saray.JPG')}}">
                            </div>
                            <div class="col-12 embed-responsive-item" >
                                <audio controls class="audioSaray">
                                    <source src="{{ asset('image/audio/audioPresentacion.mpeg')}}" type="audio/mpeg">
                                </audio>
                                
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="col-12 ">
                            <p><a href="https://vimeo.com/417317844">Saray Pérez Rojas</a> Fundadora <a
                                href="https://vimeo.com/user84121504">de</a> Artelanas Imperial <a href=""></a>.</p>
                            </div>
                            <div class="col-12">   
                        <iframe src="https://player.vimeo.com/video/417317844" width="838" height="479" frameborder="0"
                                allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                        </div>
                        
                    </div>
                </div>
    
            </div>
    
        </div>
    
    
    </section>
    <!-- Quick View Modal -->

    <section class="product-section section-padding">
        <div class="container">
            <div class="section-title section-title-sep-3 text-black">
                <h2>Nuestros Productos</h2>
                <p>Exclusividad para ti - ¡100% hecho a mano en lana de oveja!
                </p>
            </div>
            <div class="product-slider mini-items-slider">
                {% for producto in products %}
                <div class="product__single-slide">
                    <div class="belly-product product-style-2">
                        <!-- imagen producto -->
                        <div class="product__image">
                            <img src="{{asset(producto.img)}}" alt="">
                            <div class="hover-content">
                                <a href="{{path('producto',{'slug':producto.slug})}}" class="hover-image">
                                    <img src="{{asset(producto.img)}}" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- descripcion producto -->
                        <div class="product-description text-center">
                            <h3 class="product__caption">
                                <a href="{{path('producto',{'slug':producto.slug})}}">{{producto.name}}</a>
                            </h3>
                            <div class="product__price">
                                <span class="price--new">$ {{producto.price|number_format(0,',', '.') }}</span>
                            </div>
                            <div class="product__btn">
                                <a href="{{path('producto',{'slug':producto.slug})}}"
                                    class="theme-btn-outlined theme-btn-outlined--type-2">Ver
                                    Producto</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <div class="dicover-area pb--85">
        <div class="banner-content-wrapper banner-2 home-4--banner">
            <div class="banner-content bg-image text-white" data-bgimage="{{ asset('image/others/banner.jpg') }}">

                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-8">
                            <h3 class="title--sm">Haciendo Feliz a la Gente</h3>
                            <h1 class="title--lg title-seperator--1 title-xl-arvo--bold">Envíos a Todo el País</h1>
                            <p>Nos dedicamos a elaborar y comercializar productos hechos a mano 100% lana de oveja tejidos en el telar mapuche tradicional.</p>
                            <div class="banner_btn">
                                <a href="{{ path('tienda')}}"
                                    class="theme-btn">Visitar Tienda</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<section class=" home-4__product--new section-padding space-db--30">
        <div class="container">
            <div class="section-title section-title-sep-3 text-black">
                <h2>Productos</h2>
                <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum.
                </p>
            </div>
            <div class="product-slider-2 mini-items-slider">


                {% for i in 0..11 %}
                <div class="product__single-slide">
                    <div class="belly-product product-style-2">
                        <div class="product__image">
                            <img src="{{ asset('image/products/home-4/product-7.jpg') }}" alt="">
                            <div class="hover-content">
                                <a href="#" class="hover-image">
                                    <img src="{{ asset('image/products/home-4/product-3.jpg') }}" alt="">
                                </a>
                                <div class="hover-btns">
                                    <a href="" class="single-btn"><i
                                            class="ion-md-heart-empty"></i></a>
                                    <a href="#" class="single-btn"><i class="ion-md-options"></i></a>
                                    <a href="#" class="single-btn" role="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                                </div>
                            </div>
                            <span class="product-badge badge--sell-chocolate"></span>
                        </div>
                        <div class="product-description text-center">
                            <h3 class="product__caption">
                                <a href="#">gusce Aliquam</a>
                            </h3>
                            <div class="rating-widget">
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star"></i></span>
                                <span class="single-rating"><i class="ion-md-star-half"></i></span>
                                <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                            </div>
                            <div class="product__price">
                                <span class="price--old">$150</span>
                                <span class="price--new">$150</span>
                            </div>
                            <div class="product__btn">
                                <a href="#" class="theme-btn-outlined">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>#}
<section class="col-lg-12 col-md-12">
    <div class="row row-space">
        <div class="col-lg-6 col-md-6 col-xs-12" style="padding: 0px">
            <img src="{{ asset('image/others/ap23A.jpg') }}" style="width: 100%">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12" style="padding: 0px">
            <div id="controlesCarrusel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="" src="{{ asset('image/others/ap23B.jpg') }}" alt="First slide" style="width: 100%">
                    <div class="carousel-caption">
                        <h2 class="title carousel-text">Nuestras Raíces Para Todo Chile</h2>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <img class="" src="{{ asset('image/others/ap23B1.jpg') }}" alt="Second slide" style="width: 100%">
                    <div class="carousel-caption">
                        <h2 class="title carousel-text">Estamos En Ferias Exclusivas</h2>
                    </div>
                    
                </div>
                  <div class="carousel-item">
                    <img class="" src="{{ asset('image/others/ap23B2.jpg') }}" alt="Third slide" style="width: 100%">
                    <div class="carousel-caption">
                        <h2 class="title carousel-text">Diseños Personalizados</h2>
                    </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#controlesCarrusel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#controlesCarrusel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
        
        
    </div>
</section>
    <div class="site-bottom">
        <section class="newsletter-area py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <div class="newsletter-details">
                            <h3>Suscríbete a nuestros lanzamientos Exclusivos </h3>
                            <h6>Suscríbete y ten acceso exclusivos a lanzamientos de productos limitados, podrás obtener
                                descuentos y ofertas exclusivas directamente en tu email.</h6>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <form action="{{ asset('plugins/php/subscriber.php') }}" method="POST" 
                            class="subscription-form form-inline">
                            <input type="email" class="form-control" name="customerEmail" id="customerEmail"
                                placeholder="Ingresa tu email">
                            <button type="submit" class="theme-btn" value="submit" id="submit" name="submit">Suscribir</button>
                        </form>
                        <div class="form-output">
                            <p class="form-messege"><xd></xd></p>
                          </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'AppBundle:base:footer.html.twig' %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/ajax-subscriber.js') }}"></script>
{% endblock %}