{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Nosotros{% endblock %}
{# agregar clase a body elevet-enable #}
{% block body %}
<div class="site-wrapper belly-homepage--default">
    {% include 'AppBundle:base:headerStatic.html.twig' %}



    <div class="belly-bredcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ path('home')}}">Home</a></li>
                <li><a href="{{ path('nosotros')}}">Nosotros</a></li>
            </ul>
        </div>
    </div>


    <!-- Start Contact Area -->
    <div class="contact_area">
        <div class="container text-justify">
            <div class="contact_adress">
                <div class="ct_address">
                    <h3 class="ct_title">QUIENES SOMOS</h3>
                    <p>Bienvenido a nuestra tienda.</p>
                    <p>En Artelanas Imperial, cada vez que diseñamos buscamos con nuestros tejidos entregar un sello de lo artesanal y difundir a través de la iconografía que está presente en la diversidad de los diseños de nuestros tejidos, dar a conocer y preservar la cultura mapuche donde ponemos nuestros conocimientos y el amor que tenemos por nuestro oficio, para así transmitir la importancia que tiene la mujer mapuche dentro del rescate que hace a través de los tejidos.</p>
                    <p>Artelanas Imperial representa confianza y seguridad, donde el cliente recibe un producto con materiales naturales que encantan con sus diseños y la calidez de sus colores pensando siempre en entregar lo mejor en una decoración textil.</p>
                    <p>Entregamos a nuestros clientes un producto con identidad cultural hecho a mano que cuente una mejor historia de este arte que se ha transmitido en el tiempo.</p>
                    <p>Te invitamos a visitar nuestra <a href="{{ path('tienda')}}" style="color:#b3936d"><u>tienda</u></a> web y nuestras redes sociales donde encontrarás información de nuestras actividades y de otros productos.</p>

                </div>
                
                <a href="#" class="blog-image">
                    <img src="{{ asset('image/saray/Nosotros.jpg') }}" alt="">
                </a>
                
            </div>
        </div>
    </div>
    <!-- End Contact Area -->


<br>
<br>
<br>
    <div class="site-bottom">
        <!-- Footer Starts -->
        {% include 'AppBundle:base:footer.html.twig' %}
        <!-- Footer Ends -->
    </div>
</div>
<script src="js/custom.js"></script>
{% endblock %}