{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Contacto{% endblock %}
{# agregar clase a body elevet-enable #}
{% block body %}
<div class="site-wrapper belly-homepage--default">
    {% include 'AppBundle:base:headerStatic.html.twig' %}



    <div class="belly-bredcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ path('home')}}">Home</a></li>
                <li><a href="{{ path('productos')}}">Productos</a></li>
            </ul>
        </div>
    </div>


    <!-- Start Contact Area -->
    <div class="contact_area">
        <div class="container text-justify">
            <div class="contact_adress">
                <div class="ct_address">
                    <h3 class="ct_title">NUESTROS PRODUCTOS</h3>
                    <p>Son productos con diseños exclusivos e identidad propia, con pertinencia cultural y territorialidad, hechos a mano por mujeres con lana 100% de oveja, con materias primas de la zona, tejidos en el telar mapuche en diversas técnicas de urdido, como tejido llano, peinecillo y ñimin, que nos permite dibujar en la lana franjas, letras e incorporar a nuestros diseños la iconografía propia de nuestra cultura mapuche, y además para darle colorido, utilizamos tintes vegetales que recolectamos de la naturaleza y tintes artificiales para colores específicos.</p>
                    <p>Son tejidos que, a través de sus diseños y el encanto de sus colores, logran siempre entregar un producto decorativo exclusivo para el hogar tales como senderos de mesa, pieceras, murales, cojines, bufandas, morrales, trarilonkos, echarpes, entre otros.</p>
                    <p>También elaboramos a palillos gorros, cuellos, calcetines, ponchos, chalecos en lana de oveja y otros diversos productos.</p>
                </div>
                
                <a href="#" class="blog-image">
                    <img src="{{ asset('image/saray/Productos.jpg') }}" alt="">
                </a>

            </div>
        </div>
    </div>
    <!-- End Contact Area -->


    <br>
    <br>
    <br>
    <div class="site-bottom">
        <!-- Footer Starts -->
        {% include 'AppBundle:base:footer.html.twig' %}
        <!-- Footer Ends -->
    </div>
</div>
<script src="js/custom.js"></script>
{% endblock %}