{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Producto{% endblock %}
{#  agregar clase a body elevet-enable #}
{% block body %}
<div class="site-wrapper belly-homepage--default">
  {% include 'AppBundle:base:headerStaticTemp.html.twig' %}
  <div class="belly-bredcrumb-section">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="{{ path('home')}}">Home</a></li>
        <li><a href="{{ path('home')}}">Producto</a></li>
      </ul>
    </div>
  </div>
  <section class="section-padding pt-0">
    <div class="container">
      <div class="belly-product belly-product--details product-details--page">
        <div class="row">
          <div class="col-md-5">
            <div class="product__image">
              <div class="product-image-main">
                <img id="zoom_03" src="{{asset(product.images[0].url)}}"
                  data-zoom-image="{{asset(product.images[0].url)}}" />
              </div>
              <div id="product-view-gallary" class="product-view-slider product-view-standered-slider">
                {% for image in product.images %}
                <a href="#" class="gallary-item" data-image="{{asset(image.url)}}"
                  data-zoom-image="{{asset(image.url)}}">
                  <img src="{{asset(image.url)}}" />
                </a>
                {% endfor %}
                {% if product.options %}
                  {% for variant in product.variants %}
                    {% for image in variant.images %}
                      <a href="#" class="gallary-item" data-image="{{asset(image.url)}}"
                        data-zoom-image="{{asset(image.url)}}">
                        <img src="{{asset(image.url)}}" />
                      </a>
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-7">

            <div class="product-description">
              <h3 class="product__caption" id="name">
              {% if app.request.locale == "es" %}
                {{ product.name }}
              {% else %}
                {{ product.nombreProductoIngles }}
              {% endif %}
              </h3>
              <div class="product__price">
                <span class="price--new" id="price">$ {{ product.price|number_format(0,',','.') }}</span>
              </div>
              <div class="product-description--list">
                <br>
                <p>Marca: <a href="" class="brand-tag text-primary">{{ product.brand}}</a></p>
                <p>Código de Producto: <span class="text-primary" id="codigo">{{ product.variants[0].sku }}</span> </p>
                <p>Disponibilidad: <span class="text-primary" id="stock">{% if product.stock>0 %} Stock Disponible {% else %} Sin
                    Stock {% endif %}</span>
                </p>
                <div class="row" style="margin-bottom: 25px">
                    {% for option in product.options %}
                      <div class="col-md-12">
                        <div class="form-group">
                          <label style="font-size:14px"><b>{{option.name}}</b></label>
                          <select class="form-control form-control-lg product-option" name="option_{{loop.index}}" id="option_{{loop.index}}">
                            {% for value in option.values %}
                              <option value="{{value.name}}">{{value.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
              <div class="product-description--breif ">
                  {% if app.request.locale == "es" %}
                    {{ product.description|nl2br }}

                  {% else %}
                    {{ product.descripcionProductoIngles|nl2br }}
                  {% endif %}
              </div>

              <div class="product-buttons--group">
                <div class="single-btn-block count-input-block" >
                  <input type="number" class="form-control text-center" value="1" id="product_quantity" oninput="this.value = Math.round(this.value);">
                  <div class="count-input-btns">
                    <button class="inc-ammount count-btn">+</button>
                    <button class="dec-ammount count-btn">-</button>
                  </div>
                </div>
                <div class="single-btn-block">
                  {#<a class="btn theme-btn" onclick="addToCartAjax()">Agregar al Carrito</a>#}
                  <form action="{{path('addToCart')}}" method="POST" id="product-form">
                    <input id="btn-add-cart" type="submit" class="btn theme-btn" style="background-color: #B3936D; color: black; vertical-align: middle; min-width: 243px; padding-bottom: 20px;" value="Agregar al Carrito"></a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Site Bottom Starts -->
  <div class="site-bottom">
    <!-- Footer Starts -->
    {% include 'AppBundle:base:footer.html.twig' %}
    <!-- Footer Ends -->
  </div>
  <!-- Site Footer Ends -->
</div>
<!-- Site Wrapper Ends -->
{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function () {

    var variantId = "{{product.variants[0].id}}";

    $('.body-element').addClass('elevet-enable');
    $( "#product-form" ).submit(function( event ) {

      if($('#product_quantity').val() == 0 ){
        event.preventDefault();
      }
      
      $(this).append('<input type="hidden" id="product_id" name="product_id" value="'+"{{product.id}}"+'" /> ');
      $(this).append('<input type="hidden" id="variant_id" name="variant_id" value="'+variantId+'" /> ');
      $(this).append('<input type="hidden" id="quantity_products" name="quantity_products" value="'+$('#product_quantity').val()+'" /> ');
      return true;
    });

    $(".product-option").change(function(){
      var variantName ="";
      var productId= "{{product.id}}";
      $(".product-option").each(function(){
        if (variantName != '') {
          variantName = variantName +'/'+$(this).val();
        }else{
          variantName = $(this).val();
        }
      });

      //$("#title").val(variantName);
      var parametros = {
        "variantName": variantName,
        "productId" : productId
      };

      $.ajax({
        type: 'GET',
        url: "{{ path('checkProductVariant') }}",
        data: parametros,
        dataType: "json",
        beforeSend: function(){
          $("#btn-add-cart").attr("disabled","disabled"); 
          $("#btn-add-cart").attr("value", 'Cargando...');
        },
        success: function(response){
          var formatter = new Intl.NumberFormat('es-CL', {
            style: 'currency',
            currency: 'CLP',

            // These options are needed to round to whole numbers if that's what you want.
            minimumFractionDigits: 0,
            maximumFractionDigits: 0,
          });
          document.getElementById("price").innerHTML = formatter.format(response.price).replace(/^(\D+)/, '$1 ');
          document.getElementById("codigo").innerHTML = response.sku;
          variantId = response.id;
          variantPrice = response.price;

          if(response.stock>0){
            $("#btn-add-cart").removeAttr('disabled');
          } else {
            document.getElementById("stock").innerHTML = "Sin Stock";
          }

          $("#btn-add-cart").attr("value", 'Agregar al Carrito');

        },
          error: function(response){console.log(response)}
      });
    });

    //Reglas - Si no se cumplen estas reglas, se Deshabilitará el botón de Añadir al carrito.
    //---------------------------------------------------------------------------------------
    var stock = "{{ product.stock }}";

    if(stock<=0){
      $("#btn-add-cart").attr("disabled","disabled");
    }

    //Validación si añade stock via click en botón de quitar cantidad
    $('#product_quantity').on('keydown keyup change', function(e){
      if ($(this).val() == 0){
        $("#btn-add-cart").attr("disabled","disabled");
      } else if ($(this).val() > 0 && stock != 0 ) {
        $("#btn-add-cart").removeAttr('disabled');
      }
    });

    //Validación si añade stock via click en botón de quitar cantidad
    $('.inc-ammount').on('click', function(e){
      var cantidad = $('#product_quantity').val();

      if(cantidad > 0 && stock != 0 ){
        $("#btn-add-cart").removeAttr('disabled');
      }
    });
    
    //Validación si añade stock via click en botón de añadir cantidad
    $('.dec-ammount').on('click', function(e){
      var cantidad = $('#product_quantity').val();

      if(cantidad <= 0 ){
        $("#btn-add-cart").attr("disabled","disabled");
      }
    });

    //Validación si pega una cantidad al texto via mouse
    $("#product_quantity").bind("paste", function(e){
      var pastedData = e.originalEvent.clipboardData.getData('text');

      if( Math.floor(pastedData) == pastedData && $.isNumeric(pastedData) ){
        if(stock > 0 && pastedData > 0 && stock >= pastedData){
          $("#btn-add-cart").removeAttr('disabled');
        }
      }

    });
    //---------------------------------------------------------------------------------------

  });

  function addToCartAjax() {
    {% if app.session.get('cartId') is empty %}
      var cart_id = null;
    {% else %}
      var cart_id = "{{app.session.get('cartId')}}";
    {% endif %}
    /*
    if("{{app.session.get('cartId')}}"== '')
    {
      var cart_id = null; 
      alert('ta vacio');
    }
    else
    {
      alert("{{app.session.get('cartId')}}");
       var cart_id ="{{app.session.get('cartId')}}";
    }*/

    data = {
      "product_id": "{{product.id}}",
      "variant_id": "{{product.variants[0].id}}",
      "quantity_products": $('#product_quantity').val(),
      "cart_id": cart_id
    };

    $.ajax({
      type: "POST",
      url: '{{path('addToCart')}}',
      dataType: 'json',
      data: data,
      success: function (response, data, textStatus, xhr) {
        if (cart_id == null) {
          parametros = { 'cartId': response[0].cart_id }
          var url = Routing.generate('createCartSession', parametros);
          $.ajax({
            type: "POST",
            url: url,
            success: function (response, data, textStatus, xhr) {
              location.reload();
            }
          });
        }

      }
    });
  }

  function addToCart() {
    data = {
      "product_id": "{{product.id}}",
      "variant_id": "{{product.variants[0].id}}",
      "quantity_products": $('#product_quantity').val(),
      "cart_id": cart_id
    };

    $.ajax({
      type: "POST",
      url: '{{path('addToCart')}}',
      dataType: 'json',
      data: data,
      success: function (response, data, textStatus, xhr) {
        if (cart_id == null) {
          parametros = { 'cartId': response[0].cart_id }
          var url = Routing.generate('createCartSession', parametros);
          $.ajax({
            type: "POST",
            url: url,
            success: function (response, data, textStatus, xhr) {
              location.reload();
            }
          });
        }

      }
    });
  }

    $('#product_quantity').on('keydown keyup change', function(e){
    if ($(this).val() > parseInt('{{ product.stock }}')
        && e.keyCode !== 46 // keycode for delete
        && e.keyCode !== 8 // keycode for backspace
       ) {
       e.preventDefault();
       $(this).val('{{product.stock}}');
    }
});
</script>

{% endblock %}