{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Resumen{% endblock %}

{% block stylesheets %}
    <style>
        .select-new {
            width: 100%;
            background-color: #14191e;
            border: 1px solid #565f69;
            border-radius: 0;
            line-height: 23px;
            padding: 10px 20px;
            font-size: 14px;
            height: 45px;
            color: #14191e;
            margin-bottom: 15px;
            background: #ffff;
            border: 2px solid #151515;
        }
    </style>
{% endblock %}


{% block body %}
<div class="site-wrapper">
    {% include 'AppBundle:base:headerStatic.html.twig' %}
    <div class="belly-bredcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{path('home')}}">Home</a></li>
                <li><a href="">Resumen</a></li>
            </ul>
        </div>
    </div>
    <div class="page-section checkout-area checkout-area-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Checkout Form s-->
                    <form action="{{path('resumen')}}" method="POST" class="checkout-form" id="checkout-form">
                        <div class="row row-40">
                            <div class="col-lg-7 mb--20">
                                <!-- Billing Address -->
                                <div id="billing-form" class="mb-40">
                                    <h4 class="checkout-title">Información De Contacto</h4>
                                    <div class="row">
                                        <div class="col-md-12 col-12 mb--20">
                                            <label>Nombres y Apellidos</label>
                                            <input required="required" type="text" name="costumerName"
                                                placeholder="Nombres y Apellidos">
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Correo Electrónico </label>
                                            <input required="required" type="email" name="costumerEmail"
                                                placeholder="Correo electrónico">
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Número de contacto</label>
                                            <input required="required" type="number" name="costumerPhone"
                                                placeholder="9 1234 4567" maxlength="9">
                                        </div>
                                        <div class="col-md-12 col-12 mb--20">
                                            <h4 class="checkout-title">Información de Entrega </h4>
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Nombre Y Apellido</label>
                                            <input required="required" type="text" name="shippingName"
                                                placeholder="Nombres y Apellidos">
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Rut</label>
                                            <input id="rut" required="required" type="text" name="shippingRut"
                                                placeholder="Rut 12345678-9" maxlength="10">
                                            <span id="error-rut" style="display:none;color:red">Rut no es válido o no se
                                                ingresó en el formato
                                                11111111-1</span>
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Ciudad</label>
                                            <input required="required" type="text" name="shippingCity"
                                                placeholder="Ciudad">
                                        </div>
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Comuna</label>
                                            <input required="required" type="text" name="shippingCommune"
                                                placeholder="Comuna">
                                        </div>
                                        <div class="col-md-12 col-12 mb--20">
                                            <label>Dirección</label>
                                            <input required="required" type="text" name="shippingAddress" id="mensaje"
                                                placeholder="Dirección" maxlength="69">
                                            <span id="success-mensaje" style="display:none;color:green"></span>
                                            <span id="error-mensaje" style="display:none;color:red"></span>
                                            <div id="contador">0/69</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col-12 mb--60">

                                        <h4 class="checkout-title">Método de entrega</h4>
                    
                                        <label for="method_shipping_id">Seleccione un método de entrega:</label>
                                        <select class="select-new" id="shipping" name="method_shipping_id"  required>
                                          {% for method in shippingMethods %}
                                          <option value="{{method.id}}" shipping-amount="{{method.fee}}">{{method.delivery_time}}
                                          </option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                    <!-- Cart Total -->
                                    <div class="col-12 mb--60">
                                        <h4 class="checkout-title">Carrito de compra</h4>
                                        <div class="checkout-cart-total">
                                            <h4>Productos<span>Precio</span></h4>
                                            <ul>
                                                {% for sale in cart.products_sales %}
                                                <li>
                                                    <span class="left">{{sale.product_name}} X {{sale.quantity}}</span>
                                                    <span class="right">$ {{sale.original_price | number_format(0,',', '.')}}</span>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <p>Sub Total <span>$ {{ cart.subtotal | number_format(0,',', '.')}}</span></p>
                                            <p>Total Descuento <span  style="color:green;">- $ {{ cart.total_discount | number_format(0,',', '.')}}</span></p>
                                            {% if cart.shipping_total>0  %}
                                            <p>Costo de Envío<span id="costo-envio">$ {{cart.shipping_total | number_format(0,',', '.')}} </span></p>
                                            {% else %}
                                            <p>Costo de Envío<span id="costo-envio">$ 0</span></p>
                                            {% endif %}
                                            <h4>Total <span id="final-total">$ {{cart.total_price | number_format(0,',', '.')}}</span></h4>
                                        </div>
                                    </div>
                                    <!-- Payment Method -->
                                    <div class="col-12">
                                        <h4 class="checkout-title">Método de pago</h4>
                                        <div class="checkout-payment-method">
                                            <div class="single-method">
                                                <input required="required" type="radio" id="payment_check"
                                                    name="payment-method" checked>
                                                <label for="payment_check">Webpay</label>
                                            </div>
                                        </div>
                                        <button class="place-order" type="submit">Comprar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Site Bottom Starts -->
    <div class="site-bottom">
        <!-- Footer Starts -->
        {% include 'AppBundle:base:footer.html.twig' %}
        <!-- Footer Ends -->
    </div>
    <!-- Site Footer Ends -->
</div>
<!-- Site Wrapper Ends -->

{% endblock %}

{% block javascripts %}
<script>
    $('.nice-select').niceSelect()
    $("#shipping").change(function () {

        var shippingAmount = $('option:selected', this).attr('shipping-amount');

        $('#costo-envio').html('$ ' + shippingAmount);
        nuevoTotal = parseInt("{{cart.subtotal}}") + parseInt(shippingAmount) - parseInt("{{cart.total_discount}}");
        $('#final-total').html('$ ' + Intl.NumberFormat("de-DE").format(nuevoTotal));
    });

    $(document).ready(function () {
        var Fn = {
            validaRut: function (rutCompleto) {
                if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test(rutCompleto))
                    return false;
                var tmp = rutCompleto.split('-');
                var digv = tmp[1];
                var rut = tmp[0];
                if (digv == 'K') digv = 'k';
                return (Fn.dv(rut) == digv);
            },
            dv: function (T) {
                var M = 0, S = 1;
                for (; T; T = Math.floor(T / 10))
                    S = (S + T % 10 * (9 - M++ % 6)) % 11;
                return S ? S - 1 : 'k';
            }
        }

        $("#rut").change(function () {
            $('#rut').val($('#rut').val().toUpperCase());
            if (Fn.validaRut($("#rut").val())) {
                $("#error-rut").hide();
            } else {
                $("#error-rut").show();
                $("#rut").text("");
            }
        });

        $("#checkout-form").submit(function (event) {
            if (Fn.validaRut($("#rut").val())) {
                $('#rut').val($('#rut').val().toUpperCase());
                return true;

            }
            else {
                event.preventDefault();
            }

        });
    });

</script>
<script>
    const mensaje = document.getElementById('mensaje');
    const contador = document.getElementById('contador');

    mensaje.addEventListener('input', function (e) {
        const target = e.target;
        const longitudMax = target.getAttribute('maxlength');
        const longitudAct = target.value.length;
        contador.innerHTML = `${longitudAct}/${longitudMax}`;
    });
</script>

<script>
    $("form").submit(function (event) {
        if ($("#mensaje").val().length <= 69) {
            $("#success-mensaje").text("correcto...").show();
        } else {
            $("#error-mensaje").text("Máximo 69 carácteres").show().fadeOut(1000);
            event.preventDefault();
        }
    });
</script>

<script src="js/custom.js"></script>
{% endblock %}