{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Tienda{% endblock %}


{% block body %}
<div class="site-wrapper">
    {% include 'AppBundle:base:headerStatic.html.twig' %}

    <!-- Quick View Modal -->
    <div class="belly-bredcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ path('home')}}">Home</a></li>
                <li><a href="">Tienda</a></li>
            </ul>
        </div>
    </div>
    <section class="section-padding pt-0">
        <div class="container">
            <div class="shop-toolbar mb-30">
                <div class="align-items-center row">
                    <div class="sorting-selection col-lg-6 col-sm-12">
                        <select id="input-sort" class="form-control categorias col-lg-4 col-sm-12">
                            <option value="" selected="selected">Categoría: Todas</option>
                        </select>
                    </div>
                        <div class="col-lg-6 form-inline" style="padding-right: 0px">
                            <div class="col-lg-6 col-md-12 form-group">
                                <input type="text" name="query" id="inputSearchBox" class="form-control" placeholder="Buscar" required />
                            </div>
                        <input type="button" value="Buscar" id="searchBox" class="btn btn-outline-success col-lg-2">
                        <div style="padding-left: 3px; padding-bottom: 5px;"></div>
                        <input type="button" value="Quitar Filtros" onclick="recargar()" class="btn btn-outline-secondary col-lg-3">
                    </div>
                </div>
            </div>

            <div class="shop-product-wrap grid with-pagination row" id="listaProductos">
            
            </div>
        </div>
    </section>
    <!-- Site Bottom Starts -->
    <div class="site-bottom">
        <!-- Footer Starts -->
        {% include 'AppBundle:base:footer.html.twig' %}
        <!-- Footer Ends -->
    </div>
    <!-- Site Footer Ends -->
</div>
<!-- Site Wrapper Ends -->
{% endblock %}
{% block javascripts %}
<script>
    var products = {{ products|json_encode|raw }};
    var categorias = {{ categories|json_encode|raw }}
    categorias.forEach(categoria => {
        $("#input-sort").append("<option value='"+categoria.id+"'>"+'Categoría: '+categoria.name+"</option>");
    });


    $("#input-sort").change(function(){
        selected = $("#input-sort").val();
        filterTours(selected);
    }).change();
    
    $("#searchBox").click(function(){
        selected = $("#input-sort").val();
        filterTours(selected);
    });


    function filterTours(id){
        var localeJS = '{{locale}}';

        //remove current tours
        $( ".product-crd" ).remove();
        
        var texto = $('#inputSearchBox').val().trim();
        //update tour list
        var currentProducts = products;
        if(id > 0){
            if(texto.trim() != ''){
                result = currentProducts.filter(product => product.category_id == id && product.name.toLowerCase().includes(texto.toLowerCase()) || (product.tags?product.tags:'').toLowerCase().includes(texto.toLowerCase()));

            }else{
                result = currentProducts.filter(product => product.category_id == id);
            }
        }else{
            result = currentProducts.filter(product => product.name.toLowerCase().includes(texto.toLowerCase()) || (product.tags?product.tags:'').toLowerCase().includes(texto.toLowerCase()));
        }
        
        //append filtered tours
        result.forEach(producto => {
            $("#listaProductos").append(`
            <div class="col-lg-3 col-md-4 col-sm-6 mb-30 product-crd" id="`+producto.category_id+`">
                    <div class="belly-product product-style-2">
                        <!-- imagen producto -->
                        <div class="product__image">
                            <img src="`+producto.img+`" alt="">
                            <div class="hover-content">
                                <a href="`+localeJS+`/producto/`+producto.slug+`" class="hover-image">
                                    <img src="`+producto.img+`" alt="">
                                </a>
                            </div>
                            
                        </div>
                        <!-- descripcion producto -->
                        <div class="product-contents">
                            <h3 class="product__caption">
                                <a href="`+localeJS+`/producto/`+producto.slug+`">`+producto.name+`</a>
                            </h3>
                            <div class="product__price">
                                <span class="price--new">$ `+Intl.NumberFormat("de-DE").format(producto.price)+`</span>
                            </div>
                            <div class="product__btn">
                                <a href="`+localeJS+`/producto/`+producto.slug+`" class="theme-btn-outlined--type-2">Ver
                                    Producto</a>
                            </div>
                        </div>
                    </div>
                </div>
            `).show('slow');
        });
    }

    function changeFilter(id){
            $("#input-sort").val(id);
            $('#input-sort').trigger('change');
        }
    function recargar(){
        document.location.reload();
    }
</script>

{% endblock %}
